<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact me</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Blog: <a href="feed.xml">RSS订阅</a></li>
          <li>新浪微博：<a href=http://weibo.com/djyde>@米是特软的</a></li>
          <li>Github: <a href="http://github.com/djyde">djyde</a></li>
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
